<component name="shadowed-card" shadowed="true" data-title="{{title}}"
data-description="{{description}}" data-image="{{image}}" data-price="{{price}}">

  <img slot="logo" src="img/{{image}}" alt="Avatar" style="width:100%">
  <b slot="card_title">{{title}}</b>
  <p>This is some new content</p>
  <p>This is some new content</p>
  <p>This is some new content</p>
  <p>This is some new content</p>
  <p>This is some new content</p>
  <p>This is some new content</p>
  <p>This is some new content</p>
  <div slot="card_description">{{description}}</div>

</component>
